body {
  background-image: url("Dylan Website background.jpg");
  background-color: red;
  }
  
  h1 {
      color: black;
      text-allign: center;
    }
    
  p {
      font-family: verdana;
      font-size: 20 px;
    }
<style>
  div.a{
         text-allign: center;
}
</style>
